#dialogContainer{
    background-color: bisque;
    height: 50vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    padding: 1em;
}

#dialogContainer b{
    position: absolute;
    top:100px;
    cursor: pointer;
}

.dialog {
    text-align: center;
}